<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#000000" />
    <link rel="stylesheet" href="./style/style.css" />
    <link rel="stylesheet" href="./style/index.css" />
    <link rel="icon" type="image/x-icon" href="./img/fresco-icon.png" />
    <title>${title}</title>
  </head>
  <body>
    <nav>
      <div class="container">
        <a href="./index.html"><img height="20" src="./img/fresco-icon-white.png" /></a>
        
        <a class="element-a" href="./minutas/2022.html">Minutas</a>

        <div class="contact">
          <a href="./info/contacto.html"
            ><img height="30" src="./img/contact.png" style="filter: invert(1)"
          /></a>
        </div>
      </div>
    </nav>
    
    <section>
      ${content}
    </section>

    <footer>
      <img width="100" src="./img/fresco-title.png" /><br /><br />
      <a href="">About us</a> ·
      <a href="#">Biblioteca</a> ·
      <a href="#">Noticias</a>
    </footer>
  </body>
</html>

