html {
  font-family: "Helvetica", "Arial", sans-serif;
}

body {
  margin: 0;
  background-color: #ffe9d6;
}

section {
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 90%;
  max-width: 700px;
}

nav {
  display: flex;
  color: white;
  background-color: black;
  position: sticky;
  top: 0;
}

nav > .container {
  width: 100%;
  max-width: 900px;
  display: flex;
  align-items: center;
  margin: auto;
}

.container > * {
    padding: 5px;
}

footer {
  color: white;
  padding: 1em;
  text-align: center;
  background-color: black;
}

.contact {
  display: flex;
  flex-grow: 1;
  justify-content: end;
}

p {
  font-size: 16px;
  margin-bottom: 20px;
  line-height: 1.6;
}

a {
  color: #ff3333;
}

section > img {
    width: 100%;
}
