<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="theme-color" content="#000000">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../styles/style.css" rel="stylesheet"/>
    <title>Frente Estudiantil de Cooperación</title>
  </head>
  <body>

    <nav>
      <content>
        <a href="../index.html">Inicio</a>
        <a href="../articulos/catalogo.html">Artículos</a>
        <a href="2022.html">Minutas</a>
        
        <spacer></spacer>
        <a href="../info/contacto.html">Contacto</a>
      </content>
    </nav>

    <content>

      <smain>

        ${content}
        
      </smain>

    </content>
    

    <footer>
      <img alt="" src="../img/fresco-title.png"/>
      <br>
      <a href="">About us</a> · 
      <a href="">Bibloteca</a> · 
      <a href="">Noticias</a>
    </footer>
      
    
  </body>
</html>
